.hero {
    overflow: hidden;
    position: relative;
    height: 100vh;
    margin-top: 0;
    padding-top: 0;
}
.hero_content {
        align-items: center;
        display: flex;
        justify-content: center;
        min-height: 32.5rem;
        position: relative;
        top: 100px;
        width: 100%;
        color: wheat;
    }
    
    .hero_content_inner_subtitle {
        margin-bottom: 0.9375rem;
    }
    .text-center {
        text-align: center !important;
    }
    .h6, h6 {
        font-size: .875rem;
        letter-spacing: 1rem;
        line-height: 130%;
        text-transform: uppercase;
    }
    .body-text, .display, .h1, .h2, .h3, .h4, .h6, h1, h2, h3, h4, h6 {
        display: block;
        font-family: Avant Garde, sans-serif;
        font-style: normal;
        font-weight: 700;
    }
    .h1, h1 {
        font-size: 5rem;
        letter-spacing: -.05em;
        line-height: 84%;
        text-transform: uppercase;
    }
 
    
    .justify-content-center {
        justify-content: center !important;
    }
    @media (max-width: 780px)
    {
        .h6, h6 {
            font-size: .855rem;
            letter-spacing: 0.8rem;
        }
        .h1, h1 {
            font-size: 4rem;
        }
    }
        @media (max-width: 450px)
        {
            .h6, h6 {
                font-size: .75rem;
                letter-spacing: 0.6rem;
            }
            .h1, h1 {
                font-size: 3.4rem;
            }
        
}
  